# =========================
# Node
# =========================
node_modules/
npm-debug.log*

# =========================
# Cypress
# =========================
cypress/videos/
cypress/screenshots/
cypress/downloads/

# =========================
# Environment files
# =========================
.env
.env.*

# =========================
# Logs
# =========================
logs
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# Reports
# =========================
coverage/
report/
reports/
allure-results/
allure-report/

# =========================
# Temporary
# =========================
tmp/
temp/